.form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    font-size: 20px;

}

.h2{
    font-weight: normal;
    padding-left: 20vh;
    margin: 10px 0px;
}

.form-input{
    width: 1000px;
    height: 70px;
    margin: 20px;
}

.form-descricao{
    font-size: 15px;
    width: 1000px;
    height: 200px;
    margin: 20px;
}

.buttons{
    padding-top: 5%;
    padding-left: 45%;
}

.button{
    margin: 5px;
}
